@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Tangerine:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Poppins";
}

.title {
	font-family: "Rowdies", cursive;
}

.welcome {
	font-family: "Tangerine", cursive;
}
